[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene ubuntu-filemanager-app.qml -I ./plugins
Icon=filemanager64.png
Name=File Manager
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

