[Desktop Entry]
Version=1.0
Type=Application
Icon=dropping-letters.png
Terminal=false
Name=Dropping Letters
Exec=qmlscene dropping-letters.qml
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

