[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene ubuntu-calculator-app.qml
Icon=calculator64.png
Name=Calculator
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=com.ubuntu.calculator

