[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene ./ubuntu-terminal-app.qml -I ./plugins
Icon=./terminal64.png
Name=Terminal
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

