[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene ubuntu-clock-app.qml
Icon=clock64.png
Name=Clock
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=com.ubuntu.clock

