[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene ./rssreader-app.qml
Icon=./rssreader64.png
Name=Shorts
Keywords=shorts;rss;reader
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

